










/********************************************** Main body ***************************************************/



body {
    margin: 0;
}
































































































/****************************************** Header & Footer ************************************************/


header .navimg {
    height: 150px;
    overflow: hidden;
    position: relative;
}
header .navimg img{
    width: 100%;
    position: absolute;
    top: -50px;
    opacity: 25%;
    filter: blur(1px);
}

header h1 img {
    width: 300px;
    position: absolute;
    top: -3px;
}

.w3-bar {
    background-color: rgba(0, 69, 121, 0.829);
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: -22px;
}

.w3-bar li {
    display: inline;
    margin: 0 10px 0 10px;
    font-size: 1.6em;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    top: 10px;
}

.Search {
    position: absolute;
    top: 25%;
    right: 100px;
}
.Search input {
    width: 200px;
    height:40px;
}

.w3-bar li a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 2px;
}

.dropdown {
position: absolute;
top: 45px;
right: 100px;
}

.dropdown select {
    width: 200px;
    height: 25px;
}

footer.backgroundimg {
    width: 100%;
    overflow: hidden;
    height: 200px;
    background-color: black;
    background-image: url(Assets/FotoerImg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
footer a {
    background-color: white;
    width: 100px;
    height: 50px;
}

main {
    min-height: calc(100vh - 452px);
}


footer .Logos{
    position: absolute;
    bottom: 95px;
    right: 250px;
    display: inline;
    background-color: rgba(0, 0, 0, 0.354);
}

footer .Logos img{
    width: 50px;
    height: 50px;
}



footer .Fotterhome {
    text-decoration: none;
    position: relative;
    top: 2px;
    background-color: rgba(216, 216, 216, 0.829);
    font-size: 1.6em;
    text-align: center;
    padding-top: 10px;  
    color: black;  
}
